/**
 * Container Registry
 */

.container-message {
  pre {
    white-space: pre-line;
  }

  span .btn {
    margin: 0;
  }
}

.container-image {
  border-bottom: 1px solid $white-normal;
}

.container-image-head {
  padding: 0 16px;
  line-height: 4em;

  .btn-link {
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

.table.tags {
  margin-bottom: 0;

  .registry-image-row {
    .check {
      padding-right: $gl-padding;
      width: 5%;
    }

    .action-buttons {
      opacity: 0;
    }

    &:hover {
      .action-buttons {
        opacity: 1;
      }
    }
  }
}
